* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
}

.App {
  width: 100%;
}

.main-heading {
  width: 100%;
  margin: 30px 40%;
}

.question-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 600px;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding: 50px;
  box-shadow: 3px 3px 10px grey;
  border-radius: 20px;
}

.question {
  margin:  20px 0;
}

.options {
  margin: 10px;
  font-size: 30px;
  cursor: pointer;
}

.submit-btn {
  padding: 12px;
  border-radius: 10px;
  outline: none;
  border: 1px solid gray;
  margin: 20px auto;
  background: rgba(76, 76, 177, 0.712);
  width: 200px;
  color: white;
  font-size: 20px;
  align-self: center;
  cursor: pointer;
}


.submit-btn:hover {
    background: rgb(76, 76, 177);
}