@import "./variables.scss";

.footer-container {
  display: flex;
  height: 8vh;
  border-top: 1px solid $secondary-color;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: $accent-color;
}

.footer-container h1 {
  font-size: 1rem;
  font-variant: initial;
}
