@import "./variables";

.header-container {
  display: flex;
  height: 10vh;
  border-bottom: 1px solid $secondary-color;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: $accent-color;
}

.header-container h1 {
  font-size: 1.3rem;
}
