@import "./resets";
@import "./variables";

.main-container {
  height: 100vh;
  width: 100%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
