@import "./variables";

.result-container {
  width: 50%;
  background: $accent-color;
  height: 70%;
  display: flex;
  box-shadow: 2px 2px 1px $primary-color;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.heading {
  border-bottom: 1px solid black;
  width: 100%;
  height: 15%;
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: center;
  text-align: left;
  padding-left: 4rem;
  width: 100%;
  height: 60%;
}

.button {
  width: 100%;
  height: 25%;
}

.heading h1 {
  color: $primary-color;
  font-size: 1.3rem;
  width: 100%;
  padding: 0.8rem;
}

.results h3 {
  color: $primary-color;
}

.results span {
  float: right;
  margin-right: 4rem;
}

.submit-btn {
  margin-top: 1rem;
  padding: 1rem;
  outline: none;
  border: 1px solid gray;
  background: $primary-color;
  width: 50%;
  color: rgba(255, 255, 255, 0.959);
  font-size: 1rem !important;
  transition: 0.3s ease-in-out;
  align-self: center;
  cursor: pointer;
}

.submit-btn:hover {
  background: $secondary-color;
}

@media (max-width: $mobile) {
  .result-container {
    width: 80% !important;
    height: 60%;
  }

  .results {
    padding-left: 1rem;
    height: 60%;
  }

  .results span {
    margin-right: 1rem;
  }

  .results h3 {
    font-size: 0.8rem;
  }

  .submit-btn {
    width: 50vw !important;
    padding: 0.6rem !important;
    font-size: 0.4rem;
  }
}

@media (max-height: $mobile-height) and (max-width: $mobile) {
  .result-container {
    width: 80vw;
    min-height: 80%;
  }
}
